<div class="container">
  <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 notfound">
        <div class="notfoundImgMsg">
            <div class="block1 pull-right">
                <div class="block1_1"><h1>ERROR <br/>404</h1></div>
                <div class="block1_2"><img src="assets/images/Logo favicon_64.png" style="width: 15%; margin-left: 30px; float:left;"><p style=" font-size: 21px; font-weight: 400; color: #fff; width: 50%; float: left; margin-top: 7px;">ScoraXchange</p></div>
            </div>
          </div>
        <div class="notfoundMsg">
          <h1>Whoops, Hold On!</h1>
          <h2>You are trying to access a page <br/>which does not exist</h2>
          <!-- <a href="scoraLandingPage"><input type="button" class="btn btn123" value="GO HOME"></a> -->
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
</div>