.btn{
    width:75% !important;
    color:#fff;
}
#btn239 {
    background:green !important;
}
#btn243 {
    background: orange !important;
}
#btn244 {
    background: red !important;
}
#btn238 {
    background: grey !important;
}
#btn240 {
    background: grey !important;
}
#btn241 {
    background: grey !important;
}
#btn242 {
    background: grey !important;
}
#btn317 {
    background: grey !important;
}
#btn318 {
    background: grey !important;
}