<div class="container container_padding privacy-page" style="background-color:white">
    <div class="row "  style="background-color:white;padding:50px;">
      <div class="terms-heading text-center" align="center">
        <h3 style="margin-bottom:35px;">PRIVACY POLICY</h3>
      </div>
      <div>
          <p>
              We at Scora Technologies Private Limited value the trust you place on us while sharing your personal data on our Application. By using our Services, you consent to our use of your data under this Privacy Policy. 
          </p>
          <p>
              By accessing/ enrolling on this Application, you consent to the terms of our online Privacy Policy and to Scora Technologies Private Limited processing of Personal Information for the purposes of providing Placement and Recruitment services as well as any other purposes which may be auxiliary to the above services. 
          </p>
         <p>
            In the normal course of accessing/using the Application, you must provide an email address, which will serve as a username for login and authentication purposes, and a contact point for Application related services.
         </p>
         <p>
            We acknowledge that you alone have the right to access/ modify/ delete your personal information. We may, where it concludes that it is legally obligated to do so, disclose personal data to law enforcement or other government authorities. We will notify you of any such request unless prohibited by law.
         </p>
         <p>
            We will not share your personal information in ways unrelated to those described above without first notifying you and offering you a choice as to whether or not we may use your personal Information in a different manner. However, your data will be used by us for development and improvement of service offerings apart from our billing, administrative and servicing requirements. Reasonable and appropriate measures have been designed and implemented to help you secure your Content against accidental or unlawful loss, access or disclosure.
         </p>
         <p>
            Scora Technologies Private Limited reserves the right to update, change or modify this policy at any time. The policy shall come into effect from the date of such update, change or modification and when material changes are made to it, notice shall be provided through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may close your account/ end your subscription. Your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that you are consenting to the updated Privacy Policy.
         </p>
         <br />
         <p class="font-italic">
            Note: Scora Technologies Private Limited retains right to: a) Amend the terms in this agreement at any time. b) Offer its services to any client/prospective client without restriction at its discretion.
         </p>

          
      </div>



    </div>
</div>

<div class="clearfix"></div>
<a  class="scrollToTop cursor-pointer"> </a>

<app-footer></app-footer>