.inputfile{
    /* width: 0.1px;
    height: 0.1px; */
    opacity: 0;
    height: 60px;
    overflow: hidden;
    position: absolute;
    /* z-index: -1; */
    margin-top: 10px
}

.inputfile + label {
    /* max-width: 80%; */
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile + label img{
    vertical-align: middle;
    margin-top: -0.25em;
    margin-right: 0.25em;
    width: 100%;
    cursor: pointer;
    height: 100%;
    fill: #f1e5e6;
}