.padding-left-right0{
    padding-left: 0px !important;
padding-right: 0px !important;
}
.companytype_css{
    float: left;
    border: 1px solid #d3d3d3;
    padding: 7px;
    background: white;
}
.margin-right30{
    margin-right: 30px;
}
.companytype_a{
    color: #ea9215 !important;
    padding:25px !important;
}