<!-- upload box starts -->
<div class="container-fluid padding-left-right0">
  <div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-right0">
    <div id="massupload_bg">
      <div>
          <button class="btn btn-default pull-right">Edit Profile</button>
      </div>
      <div>
          <ul style="list-style:none">
              <li class="companytype_css margin-right30"><a class="companytype_a">Company Type</a></li>
              <li class="companytype_css"><a class="companytype_a">Industry Type</a></li>       
            </ul>
      </div>
    
      
    </div>
  </div>
  </div>
</div>
  
  