.btn{
    width:75% !important;
    color:#fff;
}
#btn320 {
    background:green !important;
}
#btn319 {
    background: orange !important;
}
#btn321 {
    background: red !important;
}
#btn314 {
    background: grey !important;
}
#btn315 {
    background: grey !important;
}
#btn312 {
    background: grey !important;
}
#btn316 {
    background: grey !important;
}
#btn317 {
    background: grey !important;
}
#btn318 {
    background: grey !important;
}