.fileUpload{
    border:none !important;
}
.company_logo_inst{
    padding: 0px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.branding_logo_inst{
    padding: 0px;
    text-align: center;
}
.m-right3{
    margin-right:3px !important
}