.fileUpload{
    border:none !important;
}
.company_logo_inst{
    padding: 0px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.branding_logo_inst{
    padding: 0px;
    text-align: center;
}

.logo_recomendation{
    font-size:12px;color:#ea9215;margin-top:10px;
}