.fileUpload{
    border:none !important;
}
.company_logo_inst{
    padding: 0px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.branding_logo_inst{
    padding: 0px;
    text-align: center;
}

.preview_hover a:hover{
    color:#ea9215 ;
}

.preview-btn{
    background-image: linear-gradient(to bottom, #e8eef0 0%, #e8eef0 100%);
    /* background-repeat: repeat-x; */
    border-color: #e8eef0;
    color: #000000;
    border-radius: 0px 0px 20px 20px;
    }

    .logo_recomendation{
        font-size:12px;color:#ea9215;margin-top:10px;
    }