<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 font_robotoregular" style="margin-top:10px">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;margin-bottom:10px;text-align:center">
      <div>
          <p class="color-theme f-size30">{{openPosition}}</p>
          <p class="f-size12 summary_text">Total No. of Open Positions</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;text-align:center">
      <div>
          <p class="color-theme f-size30" style="font-size:30px;">{{positionFilled}}</p>
          <p class="f-size12 summary_text">Positions Filled</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;text-align:center">
      <div>
        <p class="color-theme f-size30">{{activeDrives}}</p>
        <p class="f-size12 summary_text">No. of Active Drives</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 " style=" border-right:1px solid #ddd;text-align:center">
      <div>
        <p class="color-theme f-size30">{{eventsSchedules}}</p>
        <p class="f-size12 summary_text">No. of Events Scheduled</p>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="border-right:1px solid #ddd; text-align:center">
      <div>
        <p class="color-theme f-size30">{{eventsInProgress}}</p>
        <p class="f-size12 summary_text">No. of Events in Progress</p>
      </div>
    </div> 

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style=" text-align:center">
      <div>
        <p class="color-theme f-size30">{{eventsClosed}}</p>
        <p class="f-size12 summary_text">No. of Events Closed</p>
      </div>
    </div>
 
  </div>
 

  
</div>











