<div class="container-fluid padding-left-right0">
    
      <!-- background image setc=ion starts -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-right0">
          <div id="companyProfileList_bg">
            <!-- <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
              <button class="btn btn1 submit-btn pull-right" style="margin-top:-2px">Edit Profile</button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div> -->
            <div>
              <ul style="list-style:none;position: absolute;top: 77%;">
                <li class="companytype_css margin-right30">
                  <a class="companytype_a">Company Type</a>
                </li>
                <li class="companytype_css">
                  <a class="companytype_a">Industry Type</a>
                </li>
              </ul>
            </div>
    
    
          </div>
        </div>
      </div>
      <!-- background image setc=ion ends -->
    
      <!-- about company section starts -->
      <div class="row" style="margin-top:50px">
        <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <!-- left side section starts -->
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
              <img src="assets/images/Profile_Page_Icons/tcs_profile image.jpg" style="width: 150px;height: 200px;">
              <p>www.tcs.co.in</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <h4 style="margin-top:0px">
                <b>TATA CONSULTANCY SERVICES</b>
              </h4>
              <P>Objective :</P>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged... </p>
              <p class="pull-right">
                <a>Read More</a>
              </p>
            </div>
          </div>
          <!-- left side section ends -->
          <!-- social media links starts -->
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h4 style="margin-top:0px">
              <b>SOCAIL MEDIA LINKS</b>
            </h4>
            <ul style="list-style:none" class="padding0">
              <li>
                <img class="img_social" src="assets/images/Profile_Page_Icons/facebook_icon.png"> &emsp;
                <a>www.facebook.com</a>
              </li>
              <li class="m-top10">
                <img class="img_social" src="assets/images/Profile_Page_Icons/linkedin_icon.png"> &emsp;
                <a>www.linkdin.com</a>
              </li>
              <li class="m-top10">
                <img class="img_social" src="assets/images/Profile_Page_Icons/twitter_icon.png"> &emsp;
                <a>www.twitter.com</a>
              </li>
              <li class="m-top10">
                <img class="img_social" src="assets/images/Profile_Page_Icons/youtube_icon.png"> &emsp;
                <a>www.youtube.com</a>
              </li>
            </ul>
          </div>
          <!-- social media links ends -->
        </div>
      </div>
      <!-- about company section ends -->
    
      <!-- organization section starts -->
      <div class="row" style="margin-top:50px">
        <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <h4 style="margin-top:0px;border-bottom: 3px solid #ea9215;width: 20%;">
                ORGANIZATIONS
              </h4>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
              <img class="img_organization" src="assets/images/Profile_Page_Icons/organization_01.jpg">
              <div>
                <p style="display:inline">ORGANIZATIONS 01</p>
                <img style="display:inline" class="img_organization_arrow" src="assets/images/Profile_Page_Icons/enter_icon.png">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
              <img class="img_organization"  src="assets/images/Profile_Page_Icons/organization_01.jpg">
              <div>
                  <p style="display:inline">ORGANIZATIONS 02</p>
                  <img style="display:inline" class="img_organization_arrow" src="assets/images/Profile_Page_Icons/enter_icon.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
              <img class="img_organization" src="assets/images/Profile_Page_Icons/organization_01.jpg">
              <div>
                  <p style="display:inline">ORGANIZATIONS 03</p>
                  <img style="display:inline" class="img_organization_arrow" src="assets/images/Profile_Page_Icons/enter_icon.png">
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- organization section ends -->
    <!-- descrption section starts -->
    <div class="row" style="margin-top:50px">
        <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h4 style="margin-top:0px;border-bottom: 3px solid #ea9215;width: 30%;">
                    DESCRIPTION
                  </h4>  
                  <p style="font-size:15px">                  
                     LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH EUISMOD TINCIDUNT UT LAOREET DOLORE MAGNA ALIQUAM ERAT VOLUTPAT.</p>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                     took a galley of type and scrambled it to make a type specimen book.</p>
              </div>  
              
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <h4 style="margin-top:0px;border-bottom: 3px solid #ea9215;">
                      DRIVES IN PROGRESS
                    </h4>
                </div>
         
    
        </div> 
    </div>
    <!-- descrption section ends -->
    
    <!-- job role starts -->
    <div class="row" style="margin-top:50px;">
      <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>    
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="background: #eee;padding:10px">
          <h4 class="f-size20 text-center" style=" margin-top: 15px;">For More Information</h4>
          <h4 class="f-size20 text-center">CONTACT</h4>
          <p class="text-center">This information is private and confidential so please provide your Email Id</p>
    <div class="box center-block" style="background:white;padding:20px">
      <p class="text-center" style="  margin-top: 10px;">Enter Your Email Address</p>
      <button class="btn btn1 submit-btn" style=" margin-bottom: 10px;margin-top:10px;font-size:15px">Get Contact Details</button>
    </div>
        </div>
        
        
        </div>
        </div>
          
    <!-- job role ends -->
    <!-- dashboard view section starts -->
    <div class="row" style="margin-top:50px;background:#e8eef0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:25px;margin-bottom:20px">
            
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;margin-bottom:10px;text-align:center">
                <div>
                  <p class="color-orange" style="font-size:30px;">2600</p>
                  <p class="f-size16">Last year total no. of campus recruitment</p>      
                </div>
          
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;text-align:center">
                <div>
                  <p class="color-orange" style="font-size:30px;">1800</p>
                  <p class="f-size16">Last year no. of <br>interns</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;text-align:center">
                <div>
                  <p class="color-orange" style="font-size:30px;">208</p>
                  <p class="f-size16">Highest salary offered to <br>campus hire</p>
          
                </div>
              </div>        
          
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " style=" border-right:1px solid #ddd;text-align:center">
                <div>
                  <p class="color-orange" style="font-size:30px;">28</p>
                  <p class="f-size16">Highest salary offered <br>to campus hire</p>
          
                </div>
              </div>          
          </div>
          
    </div>
    <!-- dashboard view section ends -->
    </div>
    
    