<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="margin-top:10px">
  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 padding0">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;margin-bottom:10px;text-align:center">
      <div>
        <p style="font-size:30px;" class="color-theme font_robotomedium">{{totalStudentgraduated}}</p>
        <p style="font-size:12px;color: #c2b5b5;" class="font_robotoregular ">Total No. of Students</p>

      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;text-align:center">
      <div>
        <p style="font-size:30px;" class="color-theme font_robotomedium">{{numberOfStudentPlaced}}</p>
        <p style="font-size:12px;color: #c2b5b5;" class="font_robotoregular ">Students Placed</p>

      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right:1px solid #ddd;text-align:center">
      <div>
        <p style="font-size:30px;" class="color-theme font_robotomedium">{{totalVisitedCompanies}}</p>
        <p style="font-size:12px;color: #c2b5b5;" class="font_robotoregular ">No. of Companies Visited</p>

      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 padding0">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style=" border-right:1px solid #ddd;text-align:center">
      <div>
        <p style="font-size:30px;" class="color-theme font_robotomedium">{{averageOffers}}</p>
        <p style="font-size:12px;color: #c2b5b5;" class="font_robotoregular ">Average Offer</p>

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style=" text-align:center">
      <div>
        <p style="font-size:30px; " class="color-theme font_robotomedium">{{maximumOffers}}</p>
        <p style="font-size:12px;color: #c2b5b5;" class="font_robotoregular ">Maximum Offer</p>

      </div>
    </div>

  </div>
</div>
