<div style="width:50% ;margin:auto" >
        <h2>Contact Detail</h2>
        <form [formGroup]="contactForm" novalidate>
          <div class="form-group">
            <label class="center-block">Select:
                <select class="form-control" formControlName="selectDropdown">
                    <option></option>
                </select>
              
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">Name:
              <input class="form-control" formControlName="name">
            </label>
          </div>
        </form>
</div>

