
<!-- <p>Campus Eventss</p>
<app-event-student-management></app-event-student-management>
<app-create-campus-event> </app-create-campus-event>
<router-outlet></router-outlet> -->

<div class="container-fluid">
    <div class="row" style="margin-bottom:10px;margin-top:-7px">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-12 padding0">
            <div class="col-lg-6">
              <!-- <img class="width35 m-btm5p cursor-pointer" src="assets/images/drive_icon_heading.png" title="drives" title="Add">
              <span class="f-size16">Event</span> -->  
            </div>
            <div class="col-lg-6 searchboxCampuslist">
              <div class="pull-right">
                <span *ngIf="!isSearchActive && !addEve">
                    <input class="pull-left filter-input" [(ngModel)]="filterQuery" placeholder="Search by Event Name" />
                    <img class="width35 m-btm5p cursor-pointer" src="assets/images/add__plus_icon.png" title="Add" *ngIf="!addEve" (click)="addEvent()" title="Add">
                </span> 
                <!-- <img class="width35 m-right15" src="assets/images/add disable.png" *ngIf="!showAddImagDisable"> -->
                <span *ngIf="addEve">
                    <i class="fa fa-times width35 mbtm-23 backgroundColor_transperent cursor-pointer 
                    color-theme f-size16 m-right18" aria-hidden="true" title="Cancel" (click)="cancelEvents()"></i>
                </span>
              </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class=" box-border col-lg-12 col-md-12 col-sm-12 col-xs-12 mtop20">
        <div *ngIf="!list">
          <!-- <app-event-list [(sendList)]='clickData' [(listStatus)]='list'></app-event-list> -->
          <app-campus-event-list [filterQuery]="filterQuery" [(addEve)]="addEve" (addEveData)="addEveData($event)"></app-campus-event-list>
        </div>
        <div class="row" *ngIf="list">
          <app-create-campus-event [(getEventStatus)]='list'> </app-create-campus-event>
          <!-- <app-create-event [(getEventStatus)]='list' ></app-create-event> -->
        </div>
      </div>
    </div>
  </div>
  